
.bar{
    height: 3.5vh;
    flex: 1;
    border-radius: 1px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.menu{
    flex: 5;
}

.pages{
    flex: 38;
}


#title-bar{
    font-size: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 2;
    color: white;
    margin-left: 10px;
}


#panel-login{
    position: fixed;
    z-index:  10000;
}




#water-mark{
    width: 122px;
    height: 26px;
    position: fixed;
    top:95%;
    left:91%;
    pointer-events: none;
}

img{
    height: 100%;
}


#titulo{
    font-size: 22px;
    margin:0px;
    color: rgb(49, 49, 49);
}

#salir{
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    margin: 0px;
    margin-left: auto;
}