<div class="panel">
    <form [formGroup]="formServicio" (ngSubmit)="submit($event)" (keydown.enter)="$event.preventDefault()" >

    <div class="panel-superior">

        <div class="panel-left">

            <div class="p-field" [hidden]="servicioTarget.id">
                <label>Tipo de servicio</label>
                <div class="field-out">
                <select id="tipo_servicio" formControlName="tipo_servicio"  [pTooltip]="formErrors.tipo_servicio" tooltipEvent="focus" [style]="markField('tipo_servicio')">
                    <option *ngFor="let i of tiposServicio" [value]="i.id">{{i.descripcion}}</option>
                </select>
                </div>
            </div>


            <div class="p-field" [hidden]="servicioTarget.id">
                <label>Auto</label>
                <app-search-filter [idSearch]="'auto'" #auto [select]="true" [condition]="{disponibilidad:{value:'DISPONIBLE'}}" [selectHeader]="['chapa','modelo','disponibilidad']" (item)="setFormControlValue('auto',$event)" [selectService]="autoServ" [config]="autoSearchConfig" [validate]="formErrors.auto" [setItemTarget]="servicioTarget.auto"></app-search-filter>
            </div>

            <div class="p-field" [hidden]="servicioTarget.id">
                <label>Usuario</label>
                    <app-search-filter [idSearch]="'usuario'" #usuario [select]="true" [selectHeader]="['login','nombre','tipo_usuario']" (item)="setFormControlValue('usuario',$event)" [selectService]="usuarioServ" [config]="usuarioSearchConfig" [validate]="formErrors.usuario" [setItemTarget]="servicioTarget.usuario"></app-search-filter>
            </div>
        
        </div>

        <div class="panel-right">


           <div class="panel-estado">
                <div id="final">
                    <div class="p-field">
                        <label>Descripcion</label>
                        <div class="field-out">
                        <textarea id="descripcion" formControlName="descripcion"  pInputTextarea  (keyup.enter)="focusField('')"  [pTooltip]="formErrors.descripcion" tooltipEvent="focus" [style]="!servicioTarget.id?{'height':'180px'}:{}"></textarea>   
                        </div>
                    </div>

                    <div class="p-field" *ngIf="servicioTarget.id">
                        <label>Kilometraje del auto (Inicial)</label>
                        <div class="field-out">
                             <input  class="km-input" type="number"  [value]="servicioTarget.km_inicial" disabled>   
                        </div>
                     </div>

                    <div class="p-field" *ngIf="servicioTarget.id">
                        <label>Kilometraje del auto (Final)</label>
                        <div class="field-out">
                             <input id="km_final" class="km-input" type="number" formControlName="km_final" (keyup.enter)="focusField('km_final')" [pTooltip]="formErrors.km_final" tooltipEvent="focus"  [pTooltip]="formErrors.km_final" tooltipEvent="focus" [style]="markField('km_final')">   
                        </div>
                     </div>

                     <div class="p-field" *ngIf="servicioTarget.id && finalizar">
                        <label>Valor del servicio</label>
                        <div class="field-out">
                             <input id="valor_servicio" class="valor-input" type="number" formControlName="valor_servicio" (keyup.enter)="focusField('valor_servicio')" [pTooltip]="formErrors.valor_servicio" tooltipEvent="focus"  [pTooltip]="formErrors.valor_servicio" tooltipEvent="focus" [style]="markField('valor_servicio')">   
                        </div>
                     </div>
                </div>    
            </div>

        </div>
      </div>

      <div class="p-field" class="panel-inferior">
            <button *ngIf="isEmpty(servicioTarget)" id="vaciar" type="button" label="Vaciar" pButton (click)="resetForm()"></button>
            <button id="enviar" type="submit" label="Enviar" icon="fas fa-save" pButton></button>
      </div>
     



    
    </form>
    </div>