<div class="panel">
    <form [formGroup]="formServicio" (ngSubmit)="submit($event)" (keydown.enter)="$event.preventDefault()" >
    

        <div class="p-field">
            <label>Tipo de servicio</label>
            <div class="field-out">
                <p-selectButton id="tipo_servicio" [options]="tiposServicio"  optionLabel="name" optionValue="value" [multiple]="false" (keyup.enter)="focusField('disponibilidad')"></p-selectButton>
            </div>
        </div>

        <div class="p-field">
            <label>Estado</label>
            <div class="field-out">
                <p-selectButton id="estado" formControlName="estado" [options]="estados"  optionLabel="name" optionValue="value" [multiple]="false" ></p-selectButton>
            </div>
        </div>

        <div class="p-field">
            <label>Usuario</label>
            <app-search-filter [select]="true" [selectHeader]="['login','nombre','tipo_usuario']" (item)="setFormControlValue('usuario',$event)" [selectService]="usuarioServ" [config]="usuarioSearchConfig"></app-search-filter>
        </div>

        <div class="p-field">
            <label>Auto</label>
            <app-search-filter [select]="true" [condition]="{disponibilidad:{value:'DISPONIBLE'}}" [selectHeader]="['chapa','modelo','disponibilidad']" (item)="setFormControlValue('auto',$event)" [selectService]="autoServ" [config]="autoSearchConfig"></app-search-filter>
        </div>
        
     



    
    </form>
    </div>