.page{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.page div{
    width: 86%;
    margin-left: auto;
    border:solid 1px lightgray;
    border-radius: 3px;
}


