

<p-toast position="top-right"></p-toast>


<div class="panel-out">
        <div class="logo">
            <img src="../../../assets/img/flota_vehiculos_logo.png">
            <label>FLOTA DE VEHICULOS</label>
        </div>
        <div class="panel-in">
            <label id="title-login">Login</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input id="user-input" type="text" [value]="login.login" (blur)="login.login = getValue($event)" (keyup.enter)="focusPassInput()" placeholder="Username" >        
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input id="pass-input" type="password" [value]="login.contrasena" (blur)="login.contrasena = getValue($event)" (keyup.enter)="login.contrasena = getValue($event);entrar()" placeholder="Password">      
            </div>
            <button pButton (click)="entrar()" label="Entrar"></button>
            <label class="register-button" (click)="dispReg = true" >Registrarse</label>
        </div>
</div>


<p-dialog header="Registro" [(visible)]="dispReg" [modal]="true">
    <app-register *ngIf="dispReg"></app-register>
</p-dialog>